.chart-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0px 100px 30px 100px;
  border-bottom: 1px solid hsl(28, 10%, 53%);
  margin-bottom: 30px;
  /* width: 100%; */
  height: 15rem;
}

.chart {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}

.price {
  background-color: hsl(25, 47%, 15%);
  padding: 6px 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  color: #fff;
  font-weight: 600;
  visibility: hidden;
  /* transition: all 20s ease; */
}

.chart:hover .price {
  visibility: visible;
}

.bar {
  width: 100%;
  background-color: red;
  border-radius: 5px;
}

.day {
  color: hsl(28, 10%, 53%);
}
