.total-spend-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.total-spend-amount {
  font-size: 2.99rem;
  color: hsl(25, 47%, 15%);
}

.total-percent-wrapper .percentage {
  text-align: right;
  font-weight: 700;
}

.discription {
  color: hsl(28, 10%, 53%);
  letter-spacing: 1px;
}
